%h2 Everchords

= render 'shared/3_steps', step: 0

%h3.ui.header= t('.headline')
%p= t('.text')
= link_to t('.login_with_evernote', provider: t("omniauth.providers.evernote")),
user_evernote_omniauth_authorize_path, class: 'ui huge button primary'
