- content_for :meta do
  %title Everchords - Beautiful song lyrics

.ui.text.container
  - if current_user.present?
    - if current_user.notebooks.empty?
      = render 'shared/3_steps', step: 1
      = render 'notebooks/add_first'
    - else
      = render 'notebooks/list'
  - else
    = render 'introduction'
