- content_for :meta do
  %title About us - Everchords

.ui.text.container
  %h2.page-headline About us

  %h3#goal Goal
  %p
    Everchords is a solution to a simple problem. Evernote is amazing for
    writing song lyrics on the road, but it's not good for having them
    readable while playing. Space and compact formatting are an issue with
    many solutions displaying song lyrics. Everchord offers an alternative
    frontend for displaying song lyrics managed in Evernote beautifully.

  %h3#workflow Workflow
  %p
    Everchords was designed around a workflow using Evernote for
    writing and managing songs and Everchords as an alternative frontend
    for display and sharing. Everchords itself does not provide the
    means to edit songs, many other tools can do that.
  %p
    This is how you work with Everchords:
  %ol
    %li Create a Notebook for your Songs in Evernote
    %li Add a new note to the notebook. This not is your first song.
    %li
      Write the lyrics and chords into the note following the
      <a href="songpro.org/">SongPro</a> syntax rules.
    %li
      Connect your new Evernote notebook to Everchords, will
      list all contained notes as songs. By default all notes are
      private to you and can not be publicly accessed.
    %li
      Open your Song, if formatting is not good, check your SongPro
      syntax in the original Evernote note. If you made changes in your note
      you can refresh your song Everchords to update it.
    %li
      By default your song is private, but you can share it using a secret link.


  %h3#formatting Formatting
  %p
    Everchords is using the <a href="https://www.songpro.org/">SongPro</a> chord
    formatting style.
    <br><a href="https://www.chordpro.org/chordpro/ChordPro-Directives.html">ChordPro</a> is very similar, but it's
    directives are not supported.

  %h3#metadata Song meta data
  %p
    Everchords is reading song meta data from
    <a href="songpro.org/">SongPro</a> format. Title, author, album
    and year are processed from the body and recommended.
    %br
    Capo, key, tempo and tuning are supported, but optional.


  %h3#publishing Publishing
  %p
    Publishing songs for which you do not hold copyright or licenses is not
    allowed.

  %h3 Remove songs and Notebooks
  %p
    Songbooks you added can be removed. Removing them deletes all included songs.

  %h3 Does Everchords copy private data from the Evernote notebooks?
  %p
    Everchords copies the contents of the Notebooks you add to the platform
    as Songbooks. It does not read notes from any other notebooks. If you
    want to disallow access to these notebooks, delete them and the
    corresponding notes will be deleted as well.
  %p
    Everchords is Open Source and can be reviewed on
    = link_to('Github', 'https://github.com/dahie/everchords')
