- content_for :meta do
  %title Help - Everchords

.ui.text.container
  %h2.page-headline Help

  %h3#formatting Formatting
  %p
    Everchords is using the <a href="songpro.org/">SongPro</a> chord
    formatting style.

  %h3#metadata Song meta data
  %p
    Everchords is reading song meta data from
    <a href="songpro.org/">SongPro</a> format. Title, author, album
    and year are processed from the body.

  %h3#publishing Publishing
  %p
    Publishing songs for which you do not hold copyright or licenses is not
    allowed.
