// Place all the styles related to the Song controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.song-container {
  font-family: 'Source Code Pro', monospace;
  padding: 1em;

  h2.title,
  .artist,
  .year {
    display: none;
  }

  blockquote {
    margin: 1em;
  }

  .text-muted {
    color: rgba(0,0,0,.4);
    font-size: 0.8em;
  }

}


@media (min-width: 600px) {
  .song-container {
    column-count: 2;
  }
}

@media (min-width: 900px) {
  .song-container {
    column-count: 3;
  }
}
