!!! 5
%html
  %head
    = render 'shared/meta'

  %body
    = yield
    = render 'shared/footer'

    = javascript_include_tag 'application'
    %script{ src: "https://plausible.io/js/plausible.js", defer: true,  data: { domain: "everchords.herokuapp.com" } }
    %script{ src: "https://plausible.io/js/plausible.js", defer: true,  data: { domain: "everchords.app" } }
