!!! 5
%html
  %head
    = render 'shared/meta'

  %body
    = yield
    = render 'shared/footer'

    = javascript_importmap_tags
    %script{ src: "https://plausible.io/js/plausible.js", defer: true,  data: { domain: "everchords.herokuapp.com" } }
    %script{ src: "https://plausible.io/js/plausible.js", defer: true,  data: { domain: "everchords.app" } }
    %script{charset: "UTF-8", src: "//cdn.cookie-script.com/s/b9169cf4e2972d32b62ecc8b5bbd6562.js", type: "text/javascript"}
